<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet"  th:href="@{/css/style.css}" />
	<title> Imobi - Index</title>
</head>

<body>
	<div class="container">
		<h1>Imobi: A solução definitiva para a gestão de imóveis</h1>
		<p>Você é um proprietário que vive da renda de aluguéis? Você tem dificuldade em administrar seus imóveis,
			cobrar os inquilinos, emitir recibos, controlar as despesas e os impostos? Você gostaria de ter mais tempo
			livre para aproveitar a vida e investir em novas oportunidades?</p>
		<p>Se você respondeu sim a alguma dessas perguntas, então você precisa conhecer o Imob, a aplicação que
			facilita a gestão de imóveis.</p>
		<p>O Imob é um sistema online que permite que você gerencie seus imóveis de forma simples, rápida e segura.
			Com o Imob, você pode:</p>
		<ul>
			<li>Cadastrar seus imóveis e inquilinos em poucos minutos</li>
			<li>Acompanhar os pagamentos dos aluguéis e enviar lembretes automáticos</li>
			<li>Gerar recibos e notas fiscais eletrônicas com um clique</li>
			<li>Registrar as despesas e os impostos de cada imóvel</li>
			<li>Visualizar relatórios detalhados da sua carteira de imóveis</li>
			<li>Acessar o sistema de qualquer dispositivo, a qualquer hora e em qualquer lugar</li>
		</ul>
		<p>O Imob é a solução definitiva para a gestão de imóveis, pois oferece:</p>
		<ul>
			<li>Praticidade: Você não precisa mais se preocupar com planilhas, documentos, contratos e burocracias. O
				Imob faz tudo por você.</li>
			<li>Economia: Você economiza tempo e dinheiro, pois o Imob é um sistema acessível e eficiente. Você paga
				apenas uma pequena taxa mensal pelo uso do serviço.</li>
			<li>Segurança: Você tem a garantia de que seus dados estão protegidos e armazenados em servidores seguros. O
				Imob segue as normas de privacidade e segurança da informação.</li>
		</ul>
		<p>Não perca mais tempo e dinheiro com a gestão de imóveis. Experimente o Imob gratuitamente por 30 dias e
			veja como ele pode transformar a sua vida.</p>
		<p>Para começar, basta clicar no botão abaixo e preencher o formulário com seus dados. Em seguida, você receberá
			um e-mail com as instruções para acessar o sistema.</p>
		<a href="/auth/signup" class="button">Cadastre-se</a>
	</div>
</body>

</html>